{% extends 'dashboard/main.html' %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Profession</th>
                    <th>Statut</th>
                    <th></th>
                </tr>

                {% for client in clients %}
                    <tr>
                        <td><a class="btn btn-sm btn-info" href="{% url 'client' client.id  %}">Fiche client</a></td>
                        <td>{{client.firstname}}</td>
                        <td>{{client.lastname}}</td>
                        <td>{{client.profession}}</td>
                        <td>{{client.statut}}</td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_client' client.id %}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}