{%  extends 'dashboard/main.html' %}

{% block content %}
	<br>

<!--1re ligne-->
	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<h5>Options:</h5>
				<hr>
				<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_client' %}">Ajouter un cLient</a>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body">

                <h5>Chiffre d'affaires total</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{totalRev}}</h1>

			</div>
		</div>

		<div class="col-md">
			<div class="card card-body">
				<h5>Coûts totaux</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{totalCost}}</h1>
			</div>
		</div>

	</div>

<!--2e ligne (taux de conversion client, taux de rentabilité, marge commerciale)-->
	<br>
	<div class="row">
		
		<div class="col-md">
			<div class="card card-body">
				<h5>Taux de conversion client</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{conversionRate}}%</h1>
			</form>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body">
				<h5>Marge commerciale en valeur</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{grossMarginValue}}</h1>
			</form>
			</div>
		</div>
		
        <div class="col-md">
			<div class="card card-body">
				<h5>Marge commerciale en pourcentage</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{grossMarginPercent}}%</h1>
			</form>
			</div>
		</div>
	
    </div>
	<br>

    <!--3e ligne (chiffres d'affaires, coûts et marge brute)-->

	<div class="row">
		
		<div class="col-md">
			<div class="card card-body">
				<h5>Nombre d'avocats</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{nbAvocats}}</h1>
			</form>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body">
				<h5>Nombre de maires</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{nbMaires}}</h1>
			</form>
			</div>
		</div>
		
        <div class="col-md">
			<div class="card card-body">
				<h5>Nombre d'Experts-comptables</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{nbExpCompt}}</h1>
			</form>
			</div>
		</div>
	
    </div>
	<br>

{% endblock %}