{% extends 'dashboard/main.html' %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Nom de la vidéo</th>
                    <th>Client associé</th>
                    <th>Étape de production</th>
                    <th>Date de publication</th>
                    <th>Chef de projet</th>
                    <th></th>
                </tr>

                {% for video in videos %}
                    <tr>
                        <td><a class="btn btn-sm btn-info" href="{% url 'video' video.id  %}">Fiche video</a></td>
                        <td>{{video.videoName}}</td>
                        <td>{{video.client.lastname}}</td>
                        <td>{{video.stage}}</td>
                        <td>{{video.datePublication}}</td>
                        <td>{{video.chefProjet}}</td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_video' video.id  %}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}