{%  extends 'dashboard/main.html' %}

{% block content %}
	<br>

	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<h5>Vidéo:</h5>
				<hr>
				<a class="btn btn-outline-info  btn-sm btn-block" href="">Modifier vidéo</a>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body">
				<h5>Video Information</h5>
				<hr>
				<p>Nom de la vidéo : {{video.videoName}}</p>
				<p>Client: {{video.client}}</p>
				<p>Étape de production: {{video.stage}}</p>
				<p>Date de publication: {{video.datePublication}}</p>
				<p>Lieu de tournage: {{video.lieuTournage}}</p>
				<p>Date de tournage: {{video.dateTournage}}</p>
				<p>Heure de tournage: {{video.heureTournage}}</p>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body">
				<h5>Équipe de production</h5>
				<hr>
				<p>Chef de projet: {{video.chefProjet}}</p>
				<p>Cadreur: {{video.cadreur}}</p>
				<p>Ingénieur son: {{video.ingénieurSon}}</p>
				<p>Monteur: {{video.monteur}}</p>
			</div>
		</div>
	</div>


	<br>
	<div class="row">
		
		<div class="col-md">
			<div class="card card-body">
				<h5>Revenus générés par la vidéo</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{video.revenusGen}}</h1>
			</form>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body">
				<h5>Coûts de la vidéo</h5>
				<hr>
				<h1 style="text-align: center;padding: 10px">{{cost}}</h1>
			</form>
			</div>
		</div>
		
	</div>
	
	<br>

	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>Plateforme</th>
						<th>Impressions</th>
						<th>Likes</th>
						<th>Partages</th>
					</tr>

					<tr>
						<td>LinkedIn</td>
						<td>{{video.impressionsLinkedin}}</td>
						<td>{{video.likesLinkedin}}</td>
						<td>{{video.partagesLinkedin}}</td>
					</tr>

					<tr>
						<td>Facebook</td>
						<td>{{video.impressionsFacebook}}</td>
						<td>{{video.likesFacebook}}</td>
						<td>{{video.partagesFacebook}}</td>
					</tr>

					<tr>
						<td>Instagram</td>
						<td>{{video.impressionsInstagram}}</td>
						<td>{{video.likesInstagram}}</td>
						<td>{{video.partagesInstagram}}</td>
					</tr>

					<tr>
						<td>Twitter</td>
						<td>{{video.impressionsTwitter}}</td>
						<td>{{video.likesTwitter}}</td>
						<td>{{video.partagesTwitter}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

{% endblock %}